@model IEnumerable<CookiesKitchen.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Order List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Meal</th>
            <th>Order Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Customer.LastName, @order.Customer.FirstName</td>
                <td>@order.Customer.Email</td>
                <td>@order.Customer.PhoneNumber</td>
                <td>@order.Meal.Name</td>
                <td>@order.OrderDate.ToString("MM/dd/yyyy HH:mm")</td>
                <td><a asp-action="Details" asp-route-id="@order.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
